{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h1>Welcome to the Symfony Project</h1>
<p>This is a sample page.</p>
<!-- Ensure no personalized content or comments -->
{% endblock %}
